@import "../../../../styles/variables";

.input-time {
  width: 100%;
  color: black;
  .input-fields {
    display: flex;
    flex-direction: row;
    .hh {
      width: 55px;
      transform: scaleX(0.96);
    }
    .colon {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      color: black;
      margin: 0 0.63rem 0 0.63rem;
    }
    .mm {
      width: 55px;
      margin-right: 0.63rem;
      transform: scaleX(0.96);
    }
    .a {
      width: 85px;
    }
  }
  @media screen and (max-width: 500px) {
    flex: 100%;
  }
}
