// General
$primary: #4f3dd1;
$active: #2e7d32;
$negative: #e94e4e;
$red: #ff0909;
$verifying: #ff9c06;
$activeBg: #d6feda;
$tableRow: #fbfbfb;
$tableHeading: #eaeaea;
$white: #ffffff;
$background: #f6f6f6;

// Text
$headings: #474747;
$common: #919191;
$tableContents: #52575c;
$hyperLink: #0786e2;
$cardGradient: linear-gradient(195.75deg, #e2deff -98.36%, #5e47ff 88.97%);
