$white: #ffffff;
$whiteShade1: #f5f6f7;
$whiteShade2: #f3f4fd;
$black: #394759;
$greenGradient: linear-gradient(315deg, #63d471 0%, #233329 74%);
$whiteGradient: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
